<h2>Vehicles</h2>
<br>
<a [routerLink]="['/vehicles','new']">
  <button class="btn btn-primary">New Vehicle</button>
</a>
<br>
<br>
<div class="well">
  <div class="form-group">
    <label for="make">Make</label>
    <select [(ngModel)]="filter.makeId" (change)="onFilterChange()" id="make" class="form-control">
      <option value=""></option>
      <option *ngFor="let m of makes" [value]="m.id">{{m.name}}</option>
    </select>
  </div>
  <button class="btn btn-default" (click)="resetFilter()" >Reset</button>
</div>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Contact Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of filteredVehicles">
      <td>{{v.id}}</td>
      <td>{{v.make.name}}</td>
      <td>{{v.model.name}}</td>
      <td>{{v.contact.name}}</td>
      <td>
        <a [routerLink]="['/vehicles', v.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>