<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/vehicles']">
                <span>
                    <i class="fa fa-align-center fa-shopping-bag" aria-hidden="true"></i>
                </span>
                <span style="display: inline-block;padding: 0 4px; vertical-align: middle;">Sale-It</span>
            </a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a (click)="authService.login()" *ngIf="!authService.authenticated()">
                        <span class='glyphicon glyphicon-log-in'></span>login
                    </a>
                    <a (click)="authService.logout()" *ngIf="authService.authenticated()">
                        <span class='glyphicon glyphicon-log-out'></span>
                        {{'Hi, '+ (authService.getLoggedinUserName() || 'User') }} | logout
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/vehicles']">
                        <span class='glyphicon glyphicon-home'></span> Vehicles
                    </a>
                </li>
                <li *ngIf="authService.isModeratorOrAdmin()" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/vehicles/new']">
                        <span class='glyphicon glyphicon-plus'></span> New Vehicle
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/report']">
                        <span class='glyphicon glyphicon-education'></span> Report
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>